.container-comic {

    padding: 25px 0px;
    display: flex;
    .comic-img {
        img {
            width: 300px;
        }
    }
    .comic-info {
        color: white;
        margin-left: 45px;

        h3, h4, p {
            margin: 15px 0px;
            
        }
    }
    
}